<h1>{{ 'sourecode.user.email.forgot_password.title'|trans }}</h1>
<p>
    {{ 'sourecode.user.email.forgot_password.body'|trans }}
</p>
<p>
    <a href="{{ url('sourecode_user_forgot_password_change', {'token': token.value}) }}">
        {{ url('sourecode_user_forgot_password_change', {'token': token.value}) }}
    </a>
</p>
<p>
    {{ 'sourecode.user.email.forgot_password.expires_at'|trans({'%expires_at%': expires_at|format_datetime}) }}
    <a href="{{ url('sourecode_user_forgot_password_request') }}">
        {{ url('sourecode_user_forgot_password_request') }}
    </a>
</p>
<p>
    <br>
    {{ 'sourecode.common.email.signature'|trans }}
    <br>
    <br>
    {{ 'sourecode.common.email.team'|trans }}
</p>
